*{
    margin: 0;
    padding: 0;
}

.header{
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    height: 698px;
    background-repeat: no-repeat;
    
}
.nav-section{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.nav-logo{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}
.nav-btn{
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
   
}
.nav-btn a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.hero-text{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
    color: #252432;
}
.hero-btn{
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
}
.hero-btn a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.hero-container{
    text-align: center;
    margin: 152px 267px;
    
}

.text-image-container{
    display: flex;
    gap: 220px;
    align-items: center;
    margin: 141px 116px;
}
.image-container img{
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

.text-btn-container h3{
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}
.text-btn-container p{
    color: #252432a5;
    margin-bottom: 23px;
}
.text-btn-con-btn{
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
}
.text-btn-con-btn a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}